<div class="container wrapper">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
    <div *ngFor="let product of products">
      <div class="card mb-3 shadow-sm" style="width: 18rem">
        <img src="..." class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
